In [1]:
import pandas as pd
import numpy as np

In [2]:
# Display the help document
# 이 라이브러라가 어떤 라이브러리고 어떤 특징을 가지고 있는지 출력해줌
pd?
# np?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\hgkim\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\hgkim\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [2]:
# Print the version of pandas
pd.__version__ # 버전 확인

'1.2.4'

In [3]:
"""
Pandas Object: Series
"""
# Create a series from an array

ser = pd.Series([0.25,0.5,0.75,1.0]) # constructor method
# 시리즈라는 클래스의 객체를 생성하는 메소드라서 클래스 이름을 그대로 메소드로 가져와 대문자
print(ser)
# 왼쪽은 정수형 인덱스, 오른쪽은 해당 인덱스의 값(시리즈 객체에 포함된 값들)
# 내가 정의한 값으로 인덱스 설정 가능 (인덱스를 레이블 기반으로 )
# 따로 설정해주지 않으면 정수 기반으로

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
# Two main attributes: 'values' and 'index'
arr = ser.values
print(arr)

ind = ser.index
print(ind)
# 인덱스들의 리스트가 저장되는게 아니라 RangeIndex라는 클래스 객체에 저장 
#  정수 인덱스 / 0~3 연속된 정수 값들의 집합 / 하나의 range로 표현 가능
print(ind.values) # 실제 인덱스 값을 배열로 가져옴

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
[0 1 2 3]

In [3]:
# Label-based Indexing

ser = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
print(ser)

print(ser['a'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.25

In [5]:
"""
Create a series from a dictionary
"""

population_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                   'Illinois': 12882135
                  }
# key: 주 이름, value: 해당 주의 인구
population = pd.Series(population_dict)
print(population)

print(population['California':'New York'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [6]:
"""
Pnadas object: dataFrame
"""
area_dict = {'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                   'Illinois': 149995
            }
area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [7]:
# Construct a DataFrame contatining 'population' and
states = pd.DataFrame({'population': population, 'area':area})
print(states) # 2차원 테이블 형태

print(states.index,'\n') # 주 이름들
print(states.columns) # 컬럼 이름

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [8]:
# Construct a DataFrame from a 2D Numpy array

print(states['area']) # area컬럼에 해당하는 값만 뽑아서 출력
# coloumn에 대한 인덱싱

arr = np.random.rand(3,2)
print(arr,'\n')

df = pd.DataFrame(arr, columns=['foo','bar'], index=['a','b','c'])
print(df)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
[[0.25882795 0.56163613]
 [0.25303982 0.45070697]
 [0.57389454 0.96028218]]

        foo       bar
a  0.258828  0.561636
b  0.253040  0.450707
c  0.573895  0.960282

In [11]:
"""
Series object manipulation:
"""

ser = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])

print(ser,'\n')
print(ser['b'])
print(ser[0])
print('a' in ser)
print(0.25 in ser)

print(ser.keys())
print(ser.index)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

0.5
0.25
True
False
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
"""
Series object manipulation: array-style 
"""
print(ser.keys())
ser['e'] = 1.25
ser['a'] = 0.125

print(ser)

Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [14]:
"""
DataFrame object manipulation
"""
print(states['area'])
print(states.area)
# print(states.['num of area']) colunm 명에 띄어쓰기가 있다면 [안에]
#print(states.num of) 는 안됨 속성명으로 중간 띄어 쓰기 불가

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [15]:
"""
DataFrame object manipulation
"""
# 인구밀도
states['density'] = states['population'] / states['area']
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [16]:
# Indexer: loc, iloc

states.loc['California': 'New York']
# states['population' : 'density'] (X)  키는 dataframe의 인덱스값만
# loc는 명시적 인덱스 이용
# iloc는 정수 인덱스, 암묵적 인덱스 이용
states.iloc[:3]

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746

In [ ]:
"""
DataFrame as two-dimensional array
"""

In [19]:
# Masking and fancy indexing using the loc indexer
print(states.loc[states.density > 100, ['population', 'density']],'\n')
# 복수개의 column 선택 가능

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121